@import url("https://fonts.google.com/specimen/Sora");
@import url("https://fonts.google.com/specimen/Vujahday+Script");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  color: #ffffff;
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 28px;
  }
}

body {
  background-color: #000000;
}

.menu-open {
  margin-bottom: 150px;
}

header .burger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (max-width: 668px) {
  header .burger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
header nav {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}
@media screen and (max-width: 1000px) {
  header nav {
    justify-content: center;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  list-style: none;
  margin-right: 200px;
  margin-top: 40px;
  gap: 40px;
  height: 40px;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  header nav ul {
    margin-right: 0;
  }
}
@media screen and (max-width: 668px) {
  header nav ul {
    display: none;
    border: #000000 1px solid;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 20px;
    height: auto;
    text-align: center;
  }
}
header nav ul li {
  color: #ff8000;
  font-weight: bold;
  font-size: 20px;
  font-family: "Sora", sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 668px) {
  header nav ul li {
    margin-top: 20px;
  }
}
header nav ul li:nth-child(even) {
  display: none;
}
header nav ul li:nth-child(1) {
  margin-left: 20px;
}
@media screen and (max-width: 668px) {
  header nav ul li:nth-child(1) {
    margin-left: 0;
  }
}
header nav ul li:nth-child(5) {
  margin-right: 20px;
}
@media screen and (max-width: 668px) {
  header nav ul li:nth-child(5) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #ff8000;
  font-weight: bold;
}
header nav ul li a:hover {
  text-decoration: underline;
}

#footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  height: 100px;
}
#footer img {
  position: absolute;
  bottom: 10px;
  left: 2%;
  width: 5%;
}
#footer h2 {
  font-size: 32px;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  #footer h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  #footer h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 400px) {
  #footer h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 300px) {
  #footer h2 {
    font-size: 16px;
  }
}

h1 {
  font-size: 170px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #ffffff;
  margin-left: 150px;
  line-height: 200px;
  text-transform: uppercase;
}
h1 span {
  color: #ff8000;
}
@media screen and (max-width: 1550px) {
  h1 {
    font-size: 130px;
    line-height: normal;
  }
}
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 100px;
    line-height: normal;
  }
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
    line-height: normal;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 40px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
    margin-top: 30px;
  }
}

#chatenay {
  margin-top: 50px;
}
#chatenay .chatenay {
  background-image: url("Assets/chatenay_mockup.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#chatenay .chatenay-container {
  position: relative;
}
#chatenay .chatenay-container-title {
  color: #ff85b6;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-right: 20%;
  margin-top: 100px;
}
@media screen and (max-width: 1500px) {
  #chatenay .chatenay-container-title {
    margin-right: 15%;
  }
}
@media screen and (max-width: 1200px) {
  #chatenay .chatenay-container-title {
    margin-right: 10%;
  }
}
@media screen and (max-width: 1150px) {
  #chatenay .chatenay-container-title {
    margin-right: 0px;
    justify-content: center;
    margin-bottom: 50px;
  }
}
#chatenay .chatenay-container-img {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1150px) {
  #chatenay .chatenay-container-img {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
#chatenay .chatenay-container-img-accueil {
  border-radius: 20px;
  border: 10px solid rgba(107, 104, 104, 0.4);
  position: absolute;
  top: -250px;
  left: 10%;
  width: 40%;
}
@media screen and (max-width: 1150px) {
  #chatenay .chatenay-container-img-accueil {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  #chatenay .chatenay-container-img-accueil {
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  #chatenay .chatenay-container-img-accueil {
    width: 80%;
  }
}
#chatenay .chatenay-container-img-nav {
  width: 45%;
  border-radius: 20px;
  border: 10px solid rgba(107, 104, 104, 0.4);
  position: absolute;
  bottom: -650px;
  right: 12%;
  z-index: 1;
}
@media screen and (max-width: 1500px) {
  #chatenay .chatenay-container-img-nav {
    bottom: -550px;
  }
}
@media screen and (max-width: 1300px) {
  #chatenay .chatenay-container-img-nav {
    bottom: -500px;
  }
}
@media screen and (max-width: 1150px) {
  #chatenay .chatenay-container-img-nav {
    position: relative;
    bottom: 0;
    right: 0;
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  #chatenay .chatenay-container-img-nav {
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  #chatenay .chatenay-container-img-nav {
    width: 80%;
  }
}

#darkbull {
  margin-top: 70%;
}
@media screen and (max-width: 1150px) {
  #darkbull {
    margin-top: 50px;
  }
}
#darkbull .darkbull {
  background-image: url("Assets/darkbull_mockup.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#darkbull .darkbull-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
@media screen and (max-width: 1400px) {
  #darkbull .darkbull-container {
    gap: 50px;
  }
}
@media screen and (max-width: 1300px) {
  #darkbull .darkbull-container {
    gap: 20px;
  }
}
@media screen and (max-width: 1250px) {
  #darkbull .darkbull-container {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}
@media screen and (max-width: 1250px) {
  #darkbull .darkbull-container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#darkbull .darkbull-container-title {
  margin-block: 100px;
  text-align: center;
  color: #ff8000;
}
@media screen and (max-width: 1250px) {
  #darkbull .darkbull-container-title {
    margin-block: 20px;
  }
}
#darkbull .darkbull-container-img-accueil {
  border-radius: 20px;
  border: 10px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 900px) {
  #darkbull .darkbull-container-img-accueil {
    width: 80%;
  }
}
#darkbull .darkbull-container-img-telephone {
  width: 100%;
}
@media screen and (max-width: 900px) {
  #darkbull .darkbull-container-img-telephone {
    width: 80%;
  }
}
@media screen and (max-width: 668px) {
  #darkbull .darkbull-container-img-telephone {
    width: 60%;
  }
}

#jekaze {
  margin-top: 100px;
  position: relative;
}
#jekaze .jekaze {
  background-image: url("Assets/jekaze_mockup.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#jekaze .jekaze-container {
  margin-block: 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1150px) {
  #jekaze .jekaze-container {
    flex-direction: column;
    align-items: center;
  }
}
#jekaze .jekaze-container-title {
  margin-bottom: 50px;
  color: #ffffff;
}
@media screen and (max-width: 1150px) {
  #jekaze .jekaze-container-title {
    text-align: center;
  }
}
#jekaze .jekaze-container-flex {
  position: absolute;
  bottom: -900px;
  left: 16.5%;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  #jekaze .jekaze-container-flex {
    left: 12%;
  }
}
@media screen and (max-width: 1500px) {
  #jekaze .jekaze-container-flex {
    left: 10%;
  }
}
@media screen and (max-width: 1400px) {
  #jekaze .jekaze-container-flex {
    left: 8%;
  }
}
@media screen and (max-width: 1300px) {
  #jekaze .jekaze-container-flex {
    left: 4.5%;
  }
}
@media screen and (max-width: 1200px) {
  #jekaze .jekaze-container-flex {
    left: 1%;
  }
}
@media screen and (max-width: 1150px) {
  #jekaze .jekaze-container-flex {
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#jekaze .jekaze-container-img-accueil {
  width: 100%;
}
@media screen and (max-width: 800px) {
  #jekaze .jekaze-container-img-accueil {
    width: 80%;
  }
}
#jekaze .jekaze-container-img-shop {
  position: absolute;
  bottom: -900px;
  right: 16.5%;
}
@media screen and (max-width: 1600px) {
  #jekaze .jekaze-container-img-shop {
    right: 12%;
  }
}
@media screen and (max-width: 1500px) {
  #jekaze .jekaze-container-img-shop {
    right: 10%;
  }
}
@media screen and (max-width: 1400px) {
  #jekaze .jekaze-container-img-shop {
    right: 8%;
  }
}
@media screen and (max-width: 1300px) {
  #jekaze .jekaze-container-img-shop {
    right: 4.5%;
  }
}
@media screen and (max-width: 1200px) {
  #jekaze .jekaze-container-img-shop {
    right: 1%;
  }
}
@media screen and (max-width: 1150px) {
  #jekaze .jekaze-container-img-shop {
    position: relative;
    right: 0px;
    bottom: 0px;
    width: 80%;
  }
}

#andalousia {
  margin-top: 1000px;
  position: relative;
}
@media screen and (max-width: 1150px) {
  #andalousia {
    margin-top: 30px;
  }
}
#andalousia .andalousia {
  background-image: url("Assets/andalousia_mockup.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#andalousia .andalousia-container {
  margin-block: 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1300px) {
  #andalousia .andalousia-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
#andalousia .andalousia-container-title {
  margin-bottom: 200px;
  color: #dc4ab3;
}
@media screen and (max-width: 1300px) {
  #andalousia .andalousia-container-title {
    margin-bottom: 30px;
    text-align: center;
  }
}
#andalousia .andalousia-container-flex {
  position: absolute;
  bottom: -1050px;
  left: 12%;
}
@media screen and (max-width: 1600px) {
  #andalousia .andalousia-container-flex {
    left: 10%;
  }
}
@media screen and (max-width: 1500px) {
  #andalousia .andalousia-container-flex {
    left: 7%;
  }
}
@media screen and (max-width: 1400px) {
  #andalousia .andalousia-container-flex {
    left: 3%;
  }
}
@media screen and (max-width: 1300px) {
  #andalousia .andalousia-container-flex {
    left: 0%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#andalousia .andalousia-container-img-imac {
  width: 80%;
}
#andalousia .andalousia-container-img-accueil {
  position: absolute;
  bottom: -1050px;
  right: 12%;
  z-index: 1;
  border-radius: 20px;
  border: 10px solid rgba(107, 104, 104, 0.9);
}
@media screen and (max-width: 1600px) {
  #andalousia .andalousia-container-img-accueil {
    right: 10%;
  }
}
@media screen and (max-width: 1500px) {
  #andalousia .andalousia-container-img-accueil {
    right: 7%;
  }
}
@media screen and (max-width: 1400px) {
  #andalousia .andalousia-container-img-accueil {
    right: 3%;
  }
}
@media screen and (max-width: 1300px) {
  #andalousia .andalousia-container-img-accueil {
    position: relative;
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  #andalousia .andalousia-container-img-accueil {
    width: 80%;
  }
}

#portfolio {
  margin-top: 1200px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1300px) {
  #portfolio {
    margin-top: 30px;
  }
}
#portfolio .portfolio {
  background-image: url("Assets/portfolio_mockup.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#portfolio .portfolio-title {
  margin-top: 100px;
  text-align: center;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(35deg, #da58ad 0%, #fb98a8 100%);
}
#portfolio .portfolio-tablette {
  position: relative;
}
@media screen and (max-width: 900px) {
  #portfolio .portfolio-tablette {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
#portfolio .portfolio-tablette-img-tablette {
  width: 55%;
  margin-left: 15%;
}
@media screen and (max-width: 900px) {
  #portfolio .portfolio-tablette-img-tablette {
    width: 100%;
    margin-left: 0;
  }
}
#portfolio .portfolio-tablette-img-loading {
  width: 40%;
  position: absolute;
  bottom: -130px;
  right: 17%;
}
@media screen and (max-width: 900px) {
  #portfolio .portfolio-tablette-img-loading {
    position: relative;
    bottom: 0;
    right: 0;
    width: 70%;
  }
}
#portfolio .portfolio-container {
  margin-top: 250px;
  margin-inline: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
@media screen and (max-width: 1250px) {
  #portfolio .portfolio-container {
    gap: 50px;
    margin-inline: 100px;
  }
}
@media screen and (max-width: 1250px) {
  #portfolio .portfolio-container {
    gap: 20px;
  }
}
@media screen and (max-width: 1100px) {
  #portfolio .portfolio-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media screen and (max-width: 900px) {
  #portfolio .portfolio-container {
    margin-top: 50px;
  }
}
@media screen and (max-width: 600px) {
  #portfolio .portfolio-container {
    margin-inline: 50px;
  }
}
#portfolio .portfolio-container-img-white {
  border-radius: 20px;
  width: 70%;
}
@media screen and (max-width: 1100px) {
  #portfolio .portfolio-container-img-white {
    width: 110%;
  }
}
@media screen and (max-width: 700px) {
  #portfolio .portfolio-container-img-white {
    width: 100%;
  }
}
#portfolio .portfolio-container-img-black {
  width: 70%;
  border-radius: 20px;
}
@media screen and (max-width: 1100px) {
  #portfolio .portfolio-container-img-black {
    width: 110%;
  }
}
@media screen and (max-width: 700px) {
  #portfolio .portfolio-container-img-black {
    width: 100%;
  }
}

#debauche {
  margin-top: 50px;
  position: relative;
}
#debauche .debauche {
  background-image: url("./Assets/debauche_accueil.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#debauche .debauche-img-perso {
  position: absolute;
  top: 26%;
  left: 5%;
  width: 25%;
}
@media screen and (max-width: 1680px) {
  #debauche .debauche-img-perso {
    top: 31%;
  }
}
@media screen and (max-width: 1250px) {
  #debauche .debauche-img-perso {
    top: 34%;
  }
}
@media screen and (max-width: 1090px) {
  #debauche .debauche-img-perso {
    top: 40%;
  }
}
@media screen and (max-width: 800px) {
  #debauche .debauche-img-perso {
    top: 16%;
    width: 30%;
  }
}
@media screen and (max-width: 680px) {
  #debauche .debauche-img-perso {
    top: 20%;
  }
}
@media screen and (max-width: 580px) {
  #debauche .debauche-img-perso {
    top: 23%;
    width: 35%;
  }
}
@media screen and (max-width: 450px) {
  #debauche .debauche-img-perso {
    top: 26%;
  }
}
@media screen and (max-width: 320px) {
  #debauche .debauche-img-perso {
    top: 32%;
    width: 40%;
  }
}
#debauche .debauche-title {
  margin-block: 150px 100px;
  text-align: center;
  font-size: 100px;
}
@media screen and (max-width: 1250px) {
  #debauche .debauche-title {
    margin-block: 50px 50px;
    font-size: 70px;
  }
}
@media screen and (max-width: 700px) {
  #debauche .debauche-title {
    margin-block: 50px 20px;
    font-size: 50px;
  }
}
@media screen and (max-width: 540px) {
  #debauche .debauche-title {
    font-size: 40px;
  }
}
#debauche .debauche-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}
@media screen and (max-width: 1372px) {
  #debauche .debauche-container {
    gap: 50px;
  }
}
@media screen and (max-width: 800px) {
  #debauche .debauche-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-inline: 50px;
  }
}
#debauche .debauche-container-img {
  width: 100%;
}
#debauche .debauche-container-dessin {
  position: absolute;
  bottom: 150px;
  right: 8%;
  width: 20%;
}
@media screen and (max-width: 1600px) {
  #debauche .debauche-container-dessin {
    right: 7%;
  }
}
@media screen and (max-width: 1550px) {
  #debauche .debauche-container-dessin {
    right: 5%;
  }
}
@media screen and (max-width: 1372px) {
  #debauche .debauche-container-dessin {
    right: 1%;
  }
}
@media screen and (max-width: 470px) {
  #debauche .debauche-container-dessin {
    right: 40%;
    bottom: 16%;
    width: 40%;
  }
}
#debauche .debauche-fleche {
  position: absolute;
  bottom: 50px;
  right: 18%;
}
@media screen and (max-width: 892px) {
  #debauche .debauche-fleche {
    right: 13%;
  }
}
@media screen and (max-width: 470px) {
  #debauche .debauche-fleche {
    right: 60%;
    bottom: 13%;
  }
}
#debauche .debauche-text-fleche {
  position: absolute;
  bottom: 0px;
  right: 8%;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Vujahday Script", cursive;
}
@media screen and (max-width: 892px) {
  #debauche .debauche-text-fleche {
    right: 2%;
  }
}
@media screen and (max-width: 470px) {
  #debauche .debauche-text-fleche {
    right: 25%;
    bottom: 12%;
    font-size: 20px;
  }
}
#debauche .debauche-text {
  margin-inline: auto;
  margin-top: 100px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 23px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 800px) {
  #debauche .debauche-text {
    margin-inline: 0;
    text-align: start;
    padding-inline: 20px;
  }
}
@media screen and (max-width: 600px) {
  #debauche .debauche-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 470px) {
  #debauche .debauche-text {
    margin-top: 350px;
    width: 90%;
    text-align: center;
  }
}

#salle703 {
  margin-top: 100px;
}
#salle703 .salle703 {
  background-image: url("Assets/salle703_accueil.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#salle703 .salle703-container {
  margin-top: 100px;
  margin-inline: 200px;
  display: flex;
  gap: 100px;
}
@media screen and (max-width: 1250px) {
  #salle703 .salle703-container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
    margin-inline: 0;
    gap: 50px;
  }
}
#salle703 .salle703-container-flex {
  width: 60%;
  display: flex;
  flex-direction: column;
}
#salle703 .salle703-container-title {
  margin-bottom: 100px;
  text-align: right;
  color: #ffffff;
  font-size: 150px;
}
@media screen and (max-width: 1250px) {
  #salle703 .salle703-container-title {
    margin-block: 20px;
    font-size: 130px;
  }
}
@media screen and (max-width: 800px) {
  #salle703 .salle703-container-title {
    font-size: 100px;
  }
}
@media screen and (max-width: 600px) {
  #salle703 .salle703-container-title {
    font-size: 80px;
  }
}
@media screen and (max-width: 450px) {
  #salle703 .salle703-container-title {
    font-size: 60px;
  }
}
#salle703 .salle703-container-title span {
  color: #de3434;
}
#salle703 .salle703-container-text {
  margin-block: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-family: "inter", sans-serif;
}
@media screen and (max-width: 1250px) {
  #salle703 .salle703-container-text {
    margin-block: 20px;
  }
}
#salle703 .salle703-container-text span {
  color: #de3434;
}
#salle703 .salle703-container-img-couleur {
  border-radius: 20px;
}
#salle703 .salle703-container-img-noir {
  border-radius: 20px;
}

#belle {
  margin-top: 100px;
  position: relative;
}
#belle .belle {
  background-image: url("Assets/belle_accueil.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#belle .belle-title {
  padding-top: 150px;
  padding-left: 150px;
  font-size: 130px;
  line-height: 150px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media screen and (max-width: 1250px) {
  #belle .belle-title {
    padding-left: 50px;
    font-size: 100px;
    line-height: 100px;
  }
}
@media screen and (max-width: 800px) {
  #belle .belle-title {
    padding-left: 20px;
    font-size: 80px;
    line-height: 80px;
  }
}
@media screen and (max-width: 600px) {
  #belle .belle-title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (max-width: 450px) {
  #belle .belle-title {
    font-size: 50px;
    line-height: 50px;
  }
}
#belle .belle-fleche-courbe {
  position: absolute;
  top: 57%;
  left: 150px;
}
@media screen and (max-width: 1150px) {
  #belle .belle-fleche-courbe {
    display: none;
  }
}
#belle .belle-text-courbe {
  position: absolute;
  top: 54%;
  left: 150px;
  width: 50%;
  color: #ffffff;
  font-size: 23px;
  line-height: 30px;
  font-family: "vujaDay Script", cursive;
  font-style: italic;
}
@media screen and (max-width: 1150px) {
  #belle .belle-text-courbe {
    display: none;
  }
}
#belle .belle-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 100px;
  color: #ffffff;
}
@media screen and (max-width: 1150px) {
  #belle .belle-container {
    margin-top: 0;
    flex-direction: column-reverse;
    align-items: center;
  }
}
#belle .belle-container-text {
  text-align: center;
  margin-top: 6%;
  width: 35%;
  line-height: 25px;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 1150px) {
  #belle .belle-container-text {
    width: 90%;
    margin-top: 50px;
  }
}
#belle .belle-container-img-accueil {
  width: 50%;
}
@media screen and (max-width: 1150px) {
  #belle .belle-container-img-accueil {
    width: 90%;
  }
}
#belle .belle-img {
  position: absolute;
  bottom: -16%;
  right: 15%;
}
@media screen and (max-width: 1150px) {
  #belle .belle-img {
    margin-top: 20px;
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
#belle .belle-fleche-droite {
  position: absolute;
  bottom: -20%;
  right: 20%;
}
@media screen and (max-width: 1150px) {
  #belle .belle-fleche-droite {
    display: none;
  }
}
#belle .belle-text-droite {
  color: #ffffff;
  font-size: 23px;
  line-height: 30px;
  font-family: "vujaDay Script", cursive;
  font-style: italic;
  position: absolute;
  bottom: -22%;
  right: 18%;
}
@media screen and (max-width: 1150px) {
  #belle .belle-text-droite {
    display: none;
  }
}

#batman {
  margin-top: 500px;
  position: relative;
}
@media screen and (max-width: 1150px) {
  #batman {
    margin-top: 30px;
  }
}
#batman .batman {
  background-image: url("Assets/batman_accueil.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#batman .batman-container {
  margin-block: 200px;
}
@media screen and (max-width: 1300px) {
  #batman .batman-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (max-width: 500px) {
  #batman .batman-container {
    margin-block: 50px;
  }
}
#batman .batman-container-flex {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 1250px) {
  #batman .batman-container-flex {
    flex-direction: column;
    margin-inline: 100px;
  }
}
@media screen and (max-width: 500px) {
  #batman .batman-container-flex {
    margin-inline: 20px;
  }
}
#batman .batman-fleche-courbe-bas {
  position: absolute;
  top: 55%;
  right: 30%;
}
@media screen and (max-width: 1250px) {
  #batman .batman-fleche-courbe-bas {
    top: 30%;
    right: 30%;
  }
}
@media screen and (max-width: 1050px) {
  #batman .batman-fleche-courbe-bas {
    top: 32%;
  }
}
@media screen and (max-width: 900px) {
  #batman .batman-fleche-courbe-bas {
    top: 36%;
  }
}
@media screen and (max-width: 700px) {
  #batman .batman-fleche-courbe-bas {
    top: 42%;
    left: 20%;
  }
}
@media screen and (max-width: 500px) {
  #batman .batman-fleche-courbe-bas {
    display: none;
  }
}
#batman .batman-text-bas {
  position: absolute;
  top: 54%;
  left: 72%;
  width: 50%;
  color: #ffffff;
  font-size: 23px;
  line-height: 30px;
  font-family: "vujaDay Script", cursive;
  font-style: italic;
}
@media screen and (max-width: 1250px) {
  #batman .batman-text-bas {
    top: 30%;
    right: 15%;
  }
}
@media screen and (max-width: 1050px) {
  #batman .batman-text-bas {
    top: 32%;
  }
}
@media screen and (max-width: 900px) {
  #batman .batman-text-bas {
    top: 36%;
  }
}
@media screen and (max-width: 700px) {
  #batman .batman-text-bas {
    top: 42%;
    left: 50%;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  #batman .batman-text-bas {
    display: none;
  }
}
#batman .batman-fleche-courbe-haut {
  position: absolute;
  bottom: 150px;
  left: 25%;
}
@media screen and (max-width: 1150px) {
  #batman .batman-fleche-courbe-haut {
    bottom: 250px;
    left: 50%;
  }
}
@media screen and (max-width: 750px) {
  #batman .batman-fleche-courbe-haut {
    display: none;
  }
}
#batman .batman-text-haut {
  position: absolute;
  bottom: 140px;
  left: 13%;
  width: 50%;
  color: #ffffff;
  font-size: 23px;
  line-height: 30px;
  font-family: "vujaDay Script", cursive;
  font-style: italic;
}
@media screen and (max-width: 1530px) {
  #batman .batman-text-haut {
    left: 10%;
  }
}
@media screen and (max-width: 1150px) {
  #batman .batman-text-haut {
    bottom: 250px;
  }
}
@media screen and (max-width: 750px) {
  #batman .batman-text-haut {
    display: none;
  }
}
#batman .batman-text {
  margin-left: 40%;
  margin-top: 100px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 1150px) {
  #batman .batman-text {
    margin-inline: auto;
    margin-top: 150px;
  }
}
@media screen and (max-width: 500px) {
  #batman .batman-text {
    margin-top: 50px;
  }
}
@media screen and (max-width: 500px) {
  #batman .batman-text {
    font-size: 13px;
    width: 90%;
  }
}

#lunateek {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 1300px) {
  #lunateek {
    margin-top: 30px;
  }
}
@media screen and (max-width: 730px) {
  #lunateek img {
    width: 100%;
  }
}
#lunateek .lunateek {
  background-image: url("Assets/lunateek_accueil.png");
  height: 110vh;
  background-size: cover;
  background-position: center;
}
#lunateek .lunateek-text {
  margin-top: 100px;
  margin-inline: auto;
  width: 60%;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 900px) {
  #lunateek .lunateek-text {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  #lunateek .lunateek-text {
    font-size: 13px;
  }
}
#lunateek .lunateek-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 50px;
}
#lunateek .lunateek-container-1 {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 730px) {
  #lunateek .lunateek-container-1 {
    flex-direction: column;
  }
}
#lunateek .lunateek-container-2 {
  display: flex;
  justify-items: center;
  gap: 40px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 730px) {
  #lunateek .lunateek-container-2 {
    flex-direction: column;
  }
}
#lunateek .lunateek-container-2-noflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#lunateek .lunateek-container-3 {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}
@media screen and (max-width: 730px) {
  #lunateek .lunateek-container-3 {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */