.title {
    color: $primary-color;
    font-size: $title-h2-font-size;
    font-family: $primary-font;
    font-weight: bold;
    
    text-transform : uppercase;

    @media screen and (max-width: 1000px) {
        font-size: $title-h2-font-size-1000;
    }
    @media screen and (max-width: 600px) {
        font-size: $title-h2-font-size-600;
    }
  }
  