@import url('https://fonts.google.com/specimen/Sora');

// Color
$primary-color: #000000;
$secondary-color: #FF8000;
$tertiary-color: #FF85B6;
$quaternary-color: #DC4AB3;


// Font-Size
$nav-font-size: 20px;
$primary-font-size: 20px;
$title-h1-font-size: 170px;
$title-h2-font-size: 36px;


// Font-Family
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Sora', sans-serif;