@import url('https://fonts.google.com/specimen/Sora');

// Color
$primary-color: #000000;
$secondary-color: #FF8000;
$tertiary-color: #FF85B6;
$quaternary-color: #DC4AB3;


// Font-Size
$nav-font-size: 20px;

$title-h1-font-size: 170px;
$title-h1-font-size-1400: 130px;
$title-h1-font-size-1000: 100px;
$title-h1-font-size-668: 70px;

$title-h2-font-size: 36px;
$title-h2-font-size-1000: 30px;
$title-h2-font-size-600: 28px;


// Font-Family
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Sora', sans-serif;    